<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ol>
            <li><a href="/">Home</a></li>
            <li>New user</li>
        </ol>
    </nav>
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
      
    <form action="/addUser" method="POST" novalidate>
        <div>
            <div>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="first_name" placeholder="First name">
            </div>
        </div>
        <div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="last_name" placeholder="Last name">
            </div>
        </div> 
        <div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="enail" placeholder="email@gmail.com">
            </div>
        </div>
        <div>
            <div>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="08000000000">
            </div>
        </div> 
        <div>
            <div>
                <label for="comment">Comment</label>
                <textarea type="text" id="comment" name="comment" placeholder="comment"></textarea>
            </div>
        </div> 
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>