<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Users</h1>
        </div>
        <div>
            <a href="/addUser" type="button">+ add user</a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Enail</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Augustine</td>
                <td>Ofor</td>
                <td>oforokpara@gmail.com</td>
                <td>07066791803</td>
                <td>
                    <a href="#">view</a>
                    <a href="/editUser/{{this.id}}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>